/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/

# Composer bin vendor directories
/vendor-bin/**/vendor

/.idea
/php_cs.cache
/.phpunit.result.cache
